@import url('https://fonts.googleapis.com/css?family=Roboto');

// 1. Your custom variables and variable overwrites.
$global-primary-color: #209CEE;
$global-font-family: 'Roboto', sans-serif;
$height-small-height: 80px;
$dropdown-margin: 0px;

/* general */
.text-tiny {
  font-size: .8rem;
  line-height: 2.0;
}

/* chart */
.ct-chart .ct-line {
  stroke: #32d296;
  stroke-width: 1px;
}

.ct-chart .ct-area {
  fill: black;
}

.ct-label {
  color: white;
  font-size: 8px;
}

.ct-grid {
  stroke: #555;
}

@mixin translate($x, $y) {
  -webkit-transform: translate($x, $y);
  -moz-transform: translate($x, $y);
  -ms-transform: translate($x, $y);
  -o-transform: translate($x, $y);
  transform: translate($x, $y);
}

// 2. Import default variables and available mixins.
@import "uikit/src/scss/variables-theme.scss";
@import "uikit/src/scss/mixins-theme.scss";

// 3. Your custom mixin overwrites.
// @mixin hook-card() { color: #000; }

// 4. Import UIkit.
@import "uikit/src/scss/uikit-theme.scss";

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
  supported by Chrome and Opera */
}

.piano {
  font-size: .666rem;
  line-height: 2;
  .white {
    @extend .noselect;
    color: black;
    position: relative;
    .black {
      @extend .noselect;
      color: white;
      position: absolute;
      left: 66%;
      top: -1px;
      height: 70%;
      z-index: 1;
    }
  }
}
